@import '../../styles/variables';

div.select {
	position: relative;
	width: 212px;
	margin: 0 16px;

	select {
		width: 100%;
		cursor: pointer;
		border-radius: 0;
		background-color: rgba(0, 0, 0, 0.1);
		border: none;
		border: 1px solid rgba(255, 255, 255, 0.3);
		color: rgba(255, 255, 255, 0.6);
		padding: 10px;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding: 10px;
		align-self: center;
		outline: none;
		transition: all 0.25s ease-in-out;
	}
	select:hover {
		color: rgba($anemo, 0.8);
		border: 1px solid rgba($anemo, 0.8);
	}
	select:focus {
		color: rgba($anemo, 0.8);
		border: 1px solid rgba($anemo, 0.8);
	}

	option {
		background-color: rgba(0, 0, 0, 0.9);
	}

	.selectIcon {
		position: absolute;
		top: 1px;
		right: 1px;
		width: 36px;
		pointer-events: none;
		padding-top: 4px;
		padding-left: 5px;
		background-color: rgba(255, 255, 255, 0.3);
		transition: all 0.25s ease-in-out;
	}
	.selectIcon div {
		transition: all 0.25s ease-in-out;
		color: rgba(255, 255, 255, 0.6);
		font-size: 32px;
	}

	select:hover ~ .selectIcon,
	select:focus ~ .selectIcon {
		background-color: $anemo;
	}

	select:hover ~ .selectIcon div,
	select:focus ~ .selectIcon div {
		color: rgba(0, 0, 0, 0.9);
	}
}
