@use 'sass:math';

$ratio: 1.21;
$ratioCrop: 0.83;
$small: 36;
$med: 44;
$large: 112;

$sizes: (
	'small': $small,
	'med': 84px,
	'large': 112px,
);

:export {
	ratio: $ratio;
	ratioCrop: $ratioCrop;
	smallPx: $small;
	med: $med;
	large: $large;
}

div.card {
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px 4px;
	opacity: 0.75;
	transform: scale(1);
	transition: all 0.125s ease-in-out;
}
div.card:hover {
	opacity: 1;
	transform: scale(1.125);
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}
div.imageHolder {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

@each $name, $size in $sizes {
	div.card.#{$name} {
		display: flex;
		flex-direction: column;
		align-content: center;

		div.imageHolder {
			width: $size + px;
			height: $size;
			display: flex;
			justify-content: center;
			align-items: center;

			div.image {
				position: absolute;
				align-self: center;
				width: $size - 8px;
				height: $size - 8px;
			}
		}
	}
	div.card.#{$name}.noQty {
		div.imageHolder {
			align-items: flex-start;
			height: math.round($size * $ratioCrop) + px;
		}
	}
}
