@import '../../styles/variables';

div.character {
	display: flex;
	grid-column: 1;
	grid-row: 1 / span 2;
	padding-left: 16px;
}
div.characterName {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	grid-column: 1 / span 2;
	grid-row: 1;

	h2 {
		line-height: 16px;
	}
}

@media (min-width: $lg) {
	div.character {
		grid-column: 1;
		grid-row: 2 / span 2;
		position: relative;
		overflow: hidden;

		img {
			opacity: 0.9;
		}
	}
	div.characterName {
		grid-column: 1;
		grid-row: 4;
		margin-right: 0px;
		margin-left: 0px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		align-items: center;

		h2 {
			line-height: 24px;
		}
	}
}

@media (min-width: $xl) {
	div.character {
		height: 208px;
		grid-row: 2;
	}
	div.characterName {
		grid-row: 3;
	}
}
